body {

    /* DESK PARAMETERS */
    --margin-left: 0.7cm;
    --button-height: 1cm;
    --button-width: 2.1cm;
    --round-button-diameter: 0.8cm;
    --slider-thickness: 2.1cm;
    --martix-gap: 3mm;
    --padding: unset;

    /* --console-background: #33333333;
    --console-lighter-lighter-background: #77777780;
    --console-lighter-background: #77777730; */

    /* --console-background: #0a84ff33;
    --console-lighter-lighter-background: #0a84ff80;
    --console-lighter-background: #0a84ff30; */

    --console-background: rgba(20, 20, 30, 0.7);

    /* --console-lighter-lighter-background: #22292f80; */
    --console-lighter-background: #3c497a30;
    --lower-brightness-darkening-effect-percent: 70%;
    --console-button-font-size: 8px;


    /* LIQUID GLASS PARAMETER */
    --glass-primary: #0a84ff;
    --glass-blur: 20px;
    --glass-spread: 20px;


    /* REST */
    --fontColor: rgb(225, 225, 225);
    --deactivated-font-color: rgb(134, 134, 134);
    --fontColorBrighter: rgb(173, 173, 173);
}