body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  /* background-color: #252627;
  background-color: #000000; */
  background-image: url("./assets/BG3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-self: center;
  color: var(--fontColor);
  height: 100vh;
}

#Pult {
  position: relative;
}


.ConsoleTopRightControls {
  position: absolute;
  height: 35px;
  width: 100px;
  top: 25px;
  right: 25px;
  z-index: 2;
  display: flex;
  justify-content: center;
  place-items: center;
}

#MTG-Logo {
  height: 40px;
  aspect-ratio: auto;
  pointer-events: none;
  user-select: none;
  filter: invert() brightness(2);
}

.Lock {
  position: absolute;
  z-index: 2;
  display: none;
  height: 30px;
  width: 30px;
  aspect-ratio: auto;
  top: 25px;
  left: 30px;
}

.active {
  /* fill: red; */
  background-color: red;
}

.pulsing {
  animation: pulsing 1s infinite linear;
}

.blinking {
  animation: blinking 1s infinite;

}

@keyframes pulsing {
  0% {
    filter: brightness(0.4)
  }

  50% {
    filter: brightness(1)
  }

  100% {
    filter: brightness(0.4)
  }
}

@keyframes blinking {
  0% {
    filter: brightness(0.4)
  }

  49% {
    filter: brightness(0.4)
  }

  50% {
    filter: brightness(1)
  }

  100% {
    filter: brightness(1)
  }
}

.bottomPart {
  display: flex;
  justify-content: center;
  place-items: center;
}

#Settings {
  margin-left: 20px;
}

#Settings * {
  color: var(--fontColor)
}

.SettingsSection {
  width: 400px;
  margin: 15px 0px;
  display: flex;
  flex-direction: column;

  height: fit-content;
  background-color: var(--console-background);
  border-radius: 10px;

  overflow: hidden;
  backdrop-filter: blur(var(--glass-blur));
  user-select: none;
}

.SettingsSection .header {
  color: rgb(165, 165, 165);
  text-align: center;
  padding: 5px 0px;
  font-size: 15px;
  background-color: var(--console-lighter-background);
  width: 100%;
  user-select: none;
}

.actionbuttons {
  justify-content: space-evenly;
  place-items: center;
}

.actionbuttons>button {
  padding: 10px;
  margin: 10px;
  color: var(--fontColor);
  background-color: transparent;
  font-weight: bold;
}

.actionbuttons>button:disabled {
  padding: 10px;
  margin: 10px;
  background-color: var(--console-background);
  color: var(--deactivated-font-color);
  cursor: not-allowed;
}

.midirows {
  justify-content: space-between;
}

.dropdown {
  margin: 10px;
  min-width: 170px;
}

.dropdown>h4 {
  margin-bottom: 5px;
  color: var(--fontColor);
}

.dropdownelement {
  height: 1.5rem;
  background-color: var(--console-lighter-background);
  outline: none;
  border: none;
  color: var(--fontColor);
}

.dropdownelement option {
  background-color: #333;
  color: var(--fontColor)
}

.midiButtons {
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.midiButtons button {
  padding: 10px;
  margin: 0px 10px 10px 10px;
  color: var(--fontColorBrighter);
  background-color: var(--console-lighter-background);
  font-weight: bold;
}

.ConfigRow {
  justify-content: space-between;
  margin: 0px 10px;
  margin-top: 5px;
}

.ConfigRow>div {
  flex: 1;
  margin: 10px;
}

.LookImportExportSettings button {
  padding: 10px;
  margin: 10px;
  color: var(--fontColorBrighter);
  background-color: var(--console-lighter-background);
  font-weight: bold;
  width: 80%;
}

.saveButtons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.saveButtons>button {
  margin: 2.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loadConfigButton:disabled,
#saveButton:disabled,
#saveConfigButton:disabled,
#NewEmptyProjectButton:disabled,
#DiscardChangesButton:disabled {
  background-color: var(--console-background) !important;
  color: var(--deactivated-font-color) !important;
  cursor: not-allowed;
}

#NewEmptyProjectButton:disabled,
#DiscardChangesButton:disabled {
  background-color: transparent !important;
}

#LoadedConfigName {
  color: rgb(0, 255, 0);
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.editStateFlex {
  justify-content: space-between;
}

.editStateFlex>div {
  flex: 1;
}

.editStateFlexChild {
  margin: 10px;
}

.ButtonLabelSection {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

#ButtonLabelInput {
  padding: 10px;
  color: var(--fontColorBrighter);
  outline-style: none;
  outline: none;
  border: none;
  background-color: var(--console-lighter-background);
  font-weight: bold;
  flex: 1
}

.LabelOverwriteWarningSection {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.LabelOverwriteWarning {
  font-size: 10px;
  text-align: right;
}

#UpdateEditButton,
#UpdateEditButton:focus {
  padding: 10px;
  margin: 10px;
  color: var(--fontColor);
  background-color: var(--console-lighter-background);
}

.maincore {
  margin-top: 10px;
  justify-content: space-between;
}

.lightModeRow {
  /* justify-self: flex-start; */
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;

  margin: 10px 0px;
}
















.selected {
  background-color: lightblue;
  border: 2px solid rgb(0, 191, 255);
  filter: brightness(1);
  stroke-width: 5px;
  color: lightblue
}

.flexWrapper {
  display: flex;
  place-items: center;
}

.isMacOS {
  margin-left: 10px;
  /* margin-bottom: 10px; */
}

.horizontal {
  flex-direction: column;
}


.lowerBrightness {
  filter: brightness(var(--lower-brightness-darkening-effect-percent))
}